/**Ici le contenu CSS de la page*/
.code{
    background: #000;
    color: #FFF;
    font-size: 10pt;
}
.variable{
    color: #66F;
}
.comment{
    color: #6F6;
}
.methode{
    color: #FF6;
}
.exemple{
    border: 1px solid #999;
    padding: 10px;
    margin: 5px;
}