*{
     margin:0;
     padding:0;
     box-sizing:border-box;
     font-family: Arial;
}
.container{
     display: grid;
     grid-template-areas: "header"
     "mainContent"
     "footer";
     width: 380px;
     height: auto;
     margin: 0 auto;
     background:#666
}
.form_control{
     display: flex;
     width: 100%;
     
}
header{
     grid-area: header;
}
footer{
     grid-area:footer
}
main{
     grid-area:mainContent;
}