#mainContent{
    flex-direction: column;
}
#game{
    background: #000;
    width: 480px;
    height: 320px;
    align-self: center;
    margin: 4px;
}
#contentGame{
    display: flex;
}
#contentGame table{
    width: 500px;
}
.screen{
    position: absolute;
    background:url("../img/arcade_screen.png");
    opacity: .7;
    width: 491px;
    height: 338px;
    background-size: cover;
}
th.title{background:#55B}
.adsence{width: 150px;}