:root {
    --Pcolor: #339;
    --dSize: 16pt;
    --Hcolor: #009;
}
@font-face {
    font-family: "Alarm";
    src: url("../fonts/alarm\ clock.ttf");
}
.container{
    height: 575px;
    background:#111
}

.contentGame {
    width: 500px;
    margin: 0 auto;
    background: #888;
    padding: 10px;
}
#choice{
    width: 247px;
    height: 96px;
    background: #FFF;
    position: absolute;
    left: 40%;
    top:30%;
    z-index: 3;
    padding: 5px;
    border-radius: 100% / 9px;
    box-shadow: 3px 3px 3px #000;
}
#choice div{
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
#choice input + label{
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: .7s;
}
#choice input + label:hover{
    background: #888;
}
[name="reload"]{
display: inline-block;
        width:100px;
        background: #33B;
        padding: 5px;
        border: 1px solid #FFF;
        border-radius: 5px;
        color: #FFF;
        cursor: pointer;
        transition: .7s;
    
}
[name="reload"]:hover{background: #335;color: #00B; transform: scale(2);}
#choice input+label:after{
    content: "";
    display: block;
    border-bottom: 5px solid #000;
    border-bottom-right-radius: 5px;
    transition: .7s;
    width: 30%;
}
#choice input[type="radio"]{
    display: none;
}
#choice input[type="radio"]:checked + label:after{
    width: 100%;
}
.color {
    display: flex;
    width: 100%;
    position: relative;
    background: #3335;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    margin: 5px;
}

#tentative {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#tentative>div {
    display: flex;
    width: 45%;
    background: #555;
    height: 30px;
    margin: 5px;
    padding: 5px;
    position: relative;
}

#tentative>div:last-of-type {
    background: #333;
    border-radius: 0 0 5px 5px;
    border: 3px solid #FFF;
}

.wellPlaced {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #000;
    transform: rotate(45deg);
}
.goodColor {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #FFF;
    transform: rotate(45deg);
    margin: 1px;
}

.color>div {
    cursor: pointer;
    transition: .7s;
    margin-left: 0.6rem;
}

.color>div:hover {
    transform: scale(2);
}

.color>div,
#tentative [name] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.result {
    width: 28px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 25px;
    background: #777;
    height: 27px;
    padding: 1px;
    top: 1px;
    border: 1px solid #FFF;
}
[name="1"] {
    background: blue
}

[name="2"] {
    background: green
}

[name="3"] {
    background: yellow
}

[name="4"] {
    background: red
}

[name="5"] {
    background: orange
}

[name="6"] {
    background: white;
    border: 1px solid #000
}
.final{
    animation: 4s linear 0s infinite alternate animFinal;
}
.cross {
    display: inline-block;
    margin-right: 5px;
    color: var(--Pcolor);
    font-weight: bold;
    font-size: 12pt;
}
.cross:after{
    content:'\2794';
}
.btn {
    align-self: flex-end;
    right: 20px;
    position: absolute;
    height: 75%;
    line-height: 0;
}

#try {
    border-width: 2px 2px 0 0;
    margin-top: 10px;
    display: inline-block;
    border-style: solid;
    border-radius: 4px;
    padding: 2px;
    width: 125px;
    float: left;
}

#timer{
    background: var(--Hcolor);
    padding: 15px;
    /* margin: 15px 15px 0 0; */
    height: 30px;
    width: 160px;
    position: relative;
    float: left;
}
#timer span{
    font-size: var(--dSize);
    color: #555;
    position: absolute;
    font-family: Alarm;
    letter-spacing: 5px;
    left: 0;
    top: 0;
}
#timer .content{
    color: #FFFE;
}

@keyframes animFinal{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}